In [7]:
import pandas as pd

df = pd.read_csv("Employee-Data.csv")
print(df)

    Emp ID Name Prefix First Name Middle Initial Last Name Gender  \
0   677509        Drs.       Lois              H    Walker      F
1   940761         Ms.     Brenda              S  Robinson      F
2   428945         Dr.        Joe              W  Robinson      M
3   408351        Drs.      Diane              I     Evans      F
4   193819         Mr.   Benjamin              R   Russell      M
..     ...         ...        ...            ...       ...    ...
95  639892         Mr.       Jose              K      Hill      M
96  704709         Dr.     Harold              Z    Nelson      M
97  461593         Ms.     Nicole              O      Ward      F
98  392491        Mrs.    Theresa              R    Murphy      F
99  495141        Drs.      Tammy              B     Young      F

                          E Mail     Father's Name       Mother's Name  \
0        lois.walker@hotmail.com     Donald Walker        Helen Walker
1      brenda.robinson@gmail.com  Raymond Robinson       Judy Robinson
2         joe.robinson@gmail.com    Scott Robinson  Stephanie Robinson
3          diane.evans@yahoo.com       Jason Evans      Michelle Evans
4   benjamin.russell@charter.net   Gregory Russell   Elizabeth Russell
..                           ...               ...                 ...
95         jose.hill@hotmail.com       Carlos Hill           Anna Hill
96       harold.nelson@gmail.com    Richard Nelson       Pamela Nelson
97         nicole.ward@yahoo.com        Ralph Ward          Julia Ward
98      theresa.murphy@gmail.com     George Murphy   Jacqueline Murphy
99       tammy.young@comcast.net      Andrew Young        Brenda Young

   Mother's Maiden Name  Salary
0                 Lewis  168251
1                 Perry   51063
2                Taylor   50155
3                 Allen  180294
4                Nelson  117642
..                  ...     ...
95                Hayes  129774
96                Smith  156194
97                  Lee   95673
98             Peterson   51015
99             Robinson   93650

[100 rows x 11 columns]

In [9]:
df.loc[(df["Salary"] >= 90000) , "Salary Value"] = "High Salary"
df.loc[(df["Salary"] < 90000) , "Salary Value"] = "Medium Salary"

print(df)

    Emp ID Name Prefix First Name Middle Initial Last Name Gender  \
0   677509        Drs.       Lois              H    Walker      F
1   940761         Ms.     Brenda              S  Robinson      F
2   428945         Dr.        Joe              W  Robinson      M
3   408351        Drs.      Diane              I     Evans      F
4   193819         Mr.   Benjamin              R   Russell      M
..     ...         ...        ...            ...       ...    ...
95  639892         Mr.       Jose              K      Hill      M
96  704709         Dr.     Harold              Z    Nelson      M
97  461593         Ms.     Nicole              O      Ward      F
98  392491        Mrs.    Theresa              R    Murphy      F
99  495141        Drs.      Tammy              B     Young      F

                          E Mail     Father's Name       Mother's Name  \
0        lois.walker@hotmail.com     Donald Walker        Helen Walker
1      brenda.robinson@gmail.com  Raymond Robinson       Judy Robinson
2         joe.robinson@gmail.com    Scott Robinson  Stephanie Robinson
3          diane.evans@yahoo.com       Jason Evans      Michelle Evans
4   benjamin.russell@charter.net   Gregory Russell   Elizabeth Russell
..                           ...               ...                 ...
95         jose.hill@hotmail.com       Carlos Hill           Anna Hill
96       harold.nelson@gmail.com    Richard Nelson       Pamela Nelson
97         nicole.ward@yahoo.com        Ralph Ward          Julia Ward
98      theresa.murphy@gmail.com     George Murphy   Jacqueline Murphy
99       tammy.young@comcast.net      Andrew Young        Brenda Young

   Mother's Maiden Name  Salary   Salary Value
0                 Lewis  168251    High Salary
1                 Perry   51063  Medium Salary
2                Taylor   50155  Medium Salary
3                 Allen  180294    High Salary
4                Nelson  117642    High Salary
..                  ...     ...            ...
95                Hayes  129774    High Salary
96                Smith  156194    High Salary
97                  Lee   95673    High Salary
98             Peterson   51015  Medium Salary
99             Robinson   93650    High Salary

[100 rows x 12 columns]

In [13]:
df["Full Name"] = df["First Name"] + " " + df["Middle Initial"] + " " + df["Last Name"]

print(df)

    Emp ID Name Prefix First Name Middle Initial Last Name Gender  \
0   677509        Drs.       Lois              H    Walker      F
1   940761         Ms.     Brenda              S  Robinson      F
2   428945         Dr.        Joe              W  Robinson      M
3   408351        Drs.      Diane              I     Evans      F
4   193819         Mr.   Benjamin              R   Russell      M
..     ...         ...        ...            ...       ...    ...
95  639892         Mr.       Jose              K      Hill      M
96  704709         Dr.     Harold              Z    Nelson      M
97  461593         Ms.     Nicole              O      Ward      F
98  392491        Mrs.    Theresa              R    Murphy      F
99  495141        Drs.      Tammy              B     Young      F

                          E Mail     Father's Name       Mother's Name  \
0        lois.walker@hotmail.com     Donald Walker        Helen Walker
1      brenda.robinson@gmail.com  Raymond Robinson       Judy Robinson
2         joe.robinson@gmail.com    Scott Robinson  Stephanie Robinson
3          diane.evans@yahoo.com       Jason Evans      Michelle Evans
4   benjamin.russell@charter.net   Gregory Russell   Elizabeth Russell
..                           ...               ...                 ...
95         jose.hill@hotmail.com       Carlos Hill           Anna Hill
96       harold.nelson@gmail.com    Richard Nelson       Pamela Nelson
97         nicole.ward@yahoo.com        Ralph Ward          Julia Ward
98      theresa.murphy@gmail.com     George Murphy   Jacqueline Murphy
99       tammy.young@comcast.net      Andrew Young        Brenda Young

   Mother's Maiden Name  Salary   Salary Value           Full Name
0                 Lewis  168251    High Salary       Lois H Walker
1                 Perry   51063  Medium Salary   Brenda S Robinson
2                Taylor   50155  Medium Salary      Joe W Robinson
3                 Allen  180294    High Salary       Diane I Evans
4                Nelson  117642    High Salary  Benjamin R Russell
..                  ...     ...            ...                 ...
95                Hayes  129774    High Salary         Jose K Hill
96                Smith  156194    High Salary     Harold Z Nelson
97                  Lee   95673    High Salary       Nicole O Ward
98             Peterson   51015  Medium Salary    Theresa R Murphy
99             Robinson   93650    High Salary       Tammy B Young

[100 rows x 13 columns]

In [15]:
data["Bonus"] = (data["Salary"]*20)/100
print(data)

    Emp ID Name Prefix First Name Middle Initial Last Name Gender  \
0   677509        Drs.       Lois              H    Walker      F
1   940761         Ms.     Brenda              S  Robinson      F
2   428945         Dr.        Joe              W  Robinson      M
3   408351        Drs.      Diane              I     Evans      F
4   193819         Mr.   Benjamin              R   Russell      M
..     ...         ...        ...            ...       ...    ...
95  639892         Mr.       Jose              K      Hill      M
96  704709         Dr.     Harold              Z    Nelson      M
97  461593         Ms.     Nicole              O      Ward      F
98  392491        Mrs.    Theresa              R    Murphy      F
99  495141        Drs.      Tammy              B     Young      F

                          E Mail     Father's Name       Mother's Name  \
0        lois.walker@hotmail.com     Donald Walker        Helen Walker
1      brenda.robinson@gmail.com  Raymond Robinson       Judy Robinson
2         joe.robinson@gmail.com    Scott Robinson  Stephanie Robinson
3          diane.evans@yahoo.com       Jason Evans      Michelle Evans
4   benjamin.russell@charter.net   Gregory Russell   Elizabeth Russell
..                           ...               ...                 ...
95         jose.hill@hotmail.com       Carlos Hill           Anna Hill
96       harold.nelson@gmail.com    Richard Nelson       Pamela Nelson
97         nicole.ward@yahoo.com        Ralph Ward          Julia Ward
98      theresa.murphy@gmail.com     George Murphy   Jacqueline Murphy
99       tammy.young@comcast.net      Andrew Young        Brenda Young

   Mother's Maiden Name  Salary    Bonus
0                 Lewis  168251  33650.2
1                 Perry   51063  10212.6
2                Taylor   50155  10031.0
3                 Allen  180294  36058.8
4                Nelson  117642  23528.4
..                  ...     ...      ...
95                Hayes  129774  25954.8
96                Smith  156194  31238.8
97                  Lee   95673  19134.6
98             Peterson   51015  10203.0
99             Robinson   93650  18730.0

[100 rows x 12 columns]

In [21]:
df = {"Months":["January" , "February" , "March" , "April" , "May" , "June"]}

a = pd.DataFrame(df)
print(a)

def extract(value):
    return value[0:3]

a["Short_Months"] = a["Months"].map(extract)
print(a)

     Months
0   January
1  February
2     March
3     April
4       May
5      June
     Months Short_Months
0   January          Jan
1  February          Feb
2     March          Mar
3     April          Apr
4       May          May
5      June          Jun