In [1]:
import pandas as pd

csv1 = pd.read_csv("C:\\Users\\XPS\\OneDrive\\Desktop\\Jupyter Notebook\\Pandas\\EV-Data.csv")
csv1

,region,category,parameter,mode,powertrain,year,unit,value
0,Australia,Historical,EV stock share,Cars,EV,2011,percent,3.900000e-04
1,Australia,Historical,EV sales share,Cars,EV,2011,percent,6.500000e-03
2,Australia,Historical,EV sales,Cars,BEV,2011,Vehicles,4.900000e+01
3,Australia,Historical,EV stock,Cars,BEV,2011,Vehicles,4.900000e+01
4,Australia,Historical,EV stock,Cars,BEV,2012,Vehicles,2.200000e+02
...,...,...,...,...,...,...,...,...
12649,World,Projection-STEPS,EV sales share,Cars,EV,2035,percent,5.500000e+01
12650,World,Projection-STEPS,EV stock share,Cars,EV,2035,percent,3.100000e+01
12651,World,Projection-APS,EV charging points,EV,Publicly available fast,2035,charging points,9.400000e+06
12652,World,Projection-APS,EV charging points,EV,Publicly available slow,2035,charging points,1.500000e+07
12653,World,Projection-STEPS,EV stock share,Trucks,EV,2035,percent,9.000000e+00

In [3]:
csv1.index

RangeIndex(start=0, stop=12654, step=1)

In [5]:
csv1.columns

Index(['region', 'category', 'parameter', 'mode', 'powertrain', 'year', 'unit',
       'value'],
      dtype='object')

In [7]:
csv1.describe()

               year         value
count  12654.000000  1.265400e+04
mean    2019.822112  4.273742e+05
std        5.476494  6.860498e+06
min     2010.000000  1.200000e-06
25%     2016.000000  2.000000e+00
50%     2020.000000  1.300000e+02
75%     2022.000000  5.500000e+03
max     2035.000000  4.400000e+08

In [11]:
csv1.head(10)

,region,category,parameter,mode,powertrain,year,unit,value
0,Australia,Historical,EV stock share,Cars,EV,2011,percent,0.00039
1,Australia,Historical,EV sales share,Cars,EV,2011,percent,0.00650
2,Australia,Historical,EV sales,Cars,BEV,2011,Vehicles,49.00000
3,Australia,Historical,EV stock,Cars,BEV,2011,Vehicles,49.00000
4,Australia,Historical,EV stock,Cars,BEV,2012,Vehicles,220.00000
5,Australia,Historical,EV sales,Cars,BEV,2012,Vehicles,170.00000
6,Australia,Historical,EV sales share,Cars,EV,2012,percent,0.03000
7,Australia,Historical,EV stock share,Cars,EV,2012,percent,0.00240
8,Australia,Historical,EV stock,Cars,PHEV,2012,Vehicles,80.00000
9,Australia,Historical,EV sales,Cars,PHEV,2012,Vehicles,80.00000

In [13]:
csv1.tail()

,region,category,parameter,mode,powertrain,year,unit,value
12649,World,Projection-STEPS,EV sales share,Cars,EV,2035,percent,55.0
12650,World,Projection-STEPS,EV stock share,Cars,EV,2035,percent,31.0
12651,World,Projection-APS,EV charging points,EV,Publicly available fast,2035,charging points,9400000.0
12652,World,Projection-APS,EV charging points,EV,Publicly available slow,2035,charging points,15000000.0
12653,World,Projection-STEPS,EV stock share,Trucks,EV,2035,percent,9.0

In [15]:
csv1[:4]

,region,category,parameter,mode,powertrain,year,unit,value
0,Australia,Historical,EV stock share,Cars,EV,2011,percent,0.00039
1,Australia,Historical,EV sales share,Cars,EV,2011,percent,0.00650
2,Australia,Historical,EV sales,Cars,BEV,2011,Vehicles,49.00000
3,Australia,Historical,EV stock,Cars,BEV,2011,Vehicles,49.00000

In [17]:
csv1[2:5]

      region    category parameter  mode powertrain  year      unit  value
2  Australia  Historical  EV sales  Cars        BEV  2011  Vehicles   49.0
3  Australia  Historical  EV stock  Cars        BEV  2011  Vehicles   49.0
4  Australia  Historical  EV stock  Cars        BEV  2012  Vehicles  220.0

In [19]:
csv1.index.array

<NumpyExtensionArray>
[    0,     1,     2,     3,     4,     5,     6,     7,     8,     9,
 ...
 12644, 12645, 12646, 12647, 12648, 12649, 12650, 12651, 12652, 12653]
Length: 12654, dtype: int64

In [23]:
csv1.to_numpy()

array([['Australia', 'Historical', 'EV stock share', ..., 2011,
        'percent', 0.000390000001062],
       ['Australia', 'Historical', 'EV sales share', ..., 2011,
        'percent', 0.00650000013411],
       ['Australia', 'Historical', 'EV sales', ..., 2011, 'Vehicles',
        49.0],
       ...,
       ['World', 'Projection-APS', 'EV charging points', ..., 2035,
        'charging points', 9400000.0],
       ['World', 'Projection-APS', 'EV charging points', ..., 2035,
        'charging points', 15000000.0],
       ['World', 'Projection-STEPS', 'EV stock share', ..., 2035,
        'percent', 9.0]], dtype=object)

In [25]:
import numpy as np

arr = np.asarray(csv1)

arr

array([['Australia', 'Historical', 'EV stock share', ..., 2011,
        'percent', 0.000390000001062],
       ['Australia', 'Historical', 'EV sales share', ..., 2011,
        'percent', 0.00650000013411],
       ['Australia', 'Historical', 'EV sales', ..., 2011, 'Vehicles',
        49.0],
       ...,
       ['World', 'Projection-APS', 'EV charging points', ..., 2035,
        'charging points', 9400000.0],
       ['World', 'Projection-APS', 'EV charging points', ..., 2035,
        'charging points', 15000000.0],
       ['World', 'Projection-STEPS', 'EV stock share', ..., 2035,
        'percent', 9.0]], dtype=object)

In [27]:
csv1.sort_index(axis=0 , ascending=False)

,region,category,parameter,mode,powertrain,year,unit,value
12653,World,Projection-STEPS,EV stock share,Trucks,EV,2035,percent,9.000000e+00
12652,World,Projection-APS,EV charging points,EV,Publicly available slow,2035,charging points,1.500000e+07
12651,World,Projection-APS,EV charging points,EV,Publicly available fast,2035,charging points,9.400000e+06
12650,World,Projection-STEPS,EV stock share,Cars,EV,2035,percent,3.100000e+01
12649,World,Projection-STEPS,EV sales share,Cars,EV,2035,percent,5.500000e+01
...,...,...,...,...,...,...,...,...
4,Australia,Historical,EV stock,Cars,BEV,2012,Vehicles,2.200000e+02
3,Australia,Historical,EV stock,Cars,BEV,2011,Vehicles,4.900000e+01
2,Australia,Historical,EV sales,Cars,BEV,2011,Vehicles,4.900000e+01
1,Australia,Historical,EV sales share,Cars,EV,2011,percent,6.500000e-03
0,Australia,Historical,EV stock share,Cars,EV,2011,percent,3.900000e-04

In [29]:
csv1["region"][0] = "INDIA"
csv1

C:\Users\XPS\AppData\Local\Temp\ipykernel_12936\1127206917.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  csv1["region"][0] = "INDIA"
C:\Users\XPS\AppData\Local\Temp\ipykernel_12936\1127206917.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  csv1["region"][0] = "INDIA"

,region,category,parameter,mode,powertrain,year,unit,value
0,INDIA,Historical,EV stock share,Cars,EV,2011,percent,3.900000e-04
1,Australia,Historical,EV sales share,Cars,EV,2011,percent,6.500000e-03
2,Australia,Historical,EV sales,Cars,BEV,2011,Vehicles,4.900000e+01
3,Australia,Historical,EV stock,Cars,BEV,2011,Vehicles,4.900000e+01
4,Australia,Historical,EV stock,Cars,BEV,2012,Vehicles,2.200000e+02
...,...,...,...,...,...,...,...,...
12649,World,Projection-STEPS,EV sales share,Cars,EV,2035,percent,5.500000e+01
12650,World,Projection-STEPS,EV stock share,Cars,EV,2035,percent,3.100000e+01
12651,World,Projection-APS,EV charging points,EV,Publicly available fast,2035,charging points,9.400000e+06
12652,World,Projection-APS,EV charging points,EV,Publicly available slow,2035,charging points,1.500000e+07
12653,World,Projection-STEPS,EV stock share,Trucks,EV,2035,percent,9.000000e+00

In [31]:
csv1.loc[1,"region"] = "INDIA"
csv1

,region,category,parameter,mode,powertrain,year,unit,value
0,INDIA,Historical,EV stock share,Cars,EV,2011,percent,3.900000e-04
1,INDIA,Historical,EV sales share,Cars,EV,2011,percent,6.500000e-03
2,Australia,Historical,EV sales,Cars,BEV,2011,Vehicles,4.900000e+01
3,Australia,Historical,EV stock,Cars,BEV,2011,Vehicles,4.900000e+01
4,Australia,Historical,EV stock,Cars,BEV,2012,Vehicles,2.200000e+02
...,...,...,...,...,...,...,...,...
12649,World,Projection-STEPS,EV sales share,Cars,EV,2035,percent,5.500000e+01
12650,World,Projection-STEPS,EV stock share,Cars,EV,2035,percent,3.100000e+01
12651,World,Projection-APS,EV charging points,EV,Publicly available fast,2035,charging points,9.400000e+06
12652,World,Projection-APS,EV charging points,EV,Publicly available slow,2035,charging points,1.500000e+07
12653,World,Projection-STEPS,EV stock share,Trucks,EV,2035,percent,9.000000e+00

In [39]:
csv1.loc[[1,5,10],["category","value"]]

      category     value
1   Historical    0.0065
5   Historical  170.0000
10  Historical  100.0000

In [43]:
csv1.iloc[1,6]

'percent'

In [47]:
csv1.drop("mode",axis=1)

,region,category,parameter,powertrain,year,unit,value
0,INDIA,Historical,EV stock share,EV,2011,percent,3.900000e-04
1,INDIA,Historical,EV sales share,EV,2011,percent,6.500000e-03
2,Australia,Historical,EV sales,BEV,2011,Vehicles,4.900000e+01
3,Australia,Historical,EV stock,BEV,2011,Vehicles,4.900000e+01
4,Australia,Historical,EV stock,BEV,2012,Vehicles,2.200000e+02
...,...,...,...,...,...,...,...
12649,World,Projection-STEPS,EV sales share,EV,2035,percent,5.500000e+01
12650,World,Projection-STEPS,EV stock share,EV,2035,percent,3.100000e+01
12651,World,Projection-APS,EV charging points,Publicly available fast,2035,charging points,9.400000e+06
12652,World,Projection-APS,EV charging points,Publicly available slow,2035,charging points,1.500000e+07
12653,World,Projection-STEPS,EV stock share,EV,2035,percent,9.000000e+00

In [49]:
csv1.drop(2,axis=0)

,region,category,parameter,mode,powertrain,year,unit,value
0,INDIA,Historical,EV stock share,Cars,EV,2011,percent,3.900000e-04
1,INDIA,Historical,EV sales share,Cars,EV,2011,percent,6.500000e-03
3,Australia,Historical,EV stock,Cars,BEV,2011,Vehicles,4.900000e+01
4,Australia,Historical,EV stock,Cars,BEV,2012,Vehicles,2.200000e+02
5,Australia,Historical,EV sales,Cars,BEV,2012,Vehicles,1.700000e+02
...,...,...,...,...,...,...,...,...
12649,World,Projection-STEPS,EV sales share,Cars,EV,2035,percent,5.500000e+01
12650,World,Projection-STEPS,EV stock share,Cars,EV,2035,percent,3.100000e+01
12651,World,Projection-APS,EV charging points,EV,Publicly available fast,2035,charging points,9.400000e+06
12652,World,Projection-APS,EV charging points,EV,Publicly available slow,2035,charging points,1.500000e+07
12653,World,Projection-STEPS,EV stock share,Trucks,EV,2035,percent,9.000000e+00